/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}

h1, h2{
font-family: DM serif Dispaly, serif;
color: #184f63 ;
}

#about{
    background-color: white;
}

#portfolio{
    background-color: lightgray;
}

#portfolio .card-title{
    color:#1f7798;
    font-size: 1.2rem;
}
#portfolio .btn-outline-secondary:hover{
    background-color: #1f7798;
}
#hero .btn-primary:hover{
    background-color: #1f7798;
}
#hero .btn-primary{
    background-color: #1d6d8a;
    border-color: #1d6d8a;
}
#portfolio .card-text{
    min-height: 120px;
}

#contact{
    background-color: white;
}

#hero{
    background-color: lightgray;
    min-height: 500px;
    padding: 5% 7%;
    background-position: 50% 70%;
    background-image: url(https://codeinstitute.s3.eu-west-1.amazonaws.com/Bootstrap/background.webp);
    background-size: cover;
}
.sharp-corners, .sharp-corners *{
    border-radius: 0;

}
.btn, .form-control{
    border-radius: 0;
}
/* use bootstrap breakpoint for xl screen*/
@media screen  and (min-width: 1200px){
    /* Fixes all the exessive hight in  cards on big screen*/
    #portfolio .card-text{
        min-height: auto;
    }
    
}